/* General Styling */
:root {
  --darkBlue: #090446;
  --mocha: #786f52;
  --softBlue: #61dafb;
}

a {
  color: var(--darkBlue);
  text-decoration: none;
}

a:hover {
  color: var(--softBlue)
}

/* App.js Styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--mocha);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--darkBlue);
}

.App-footer {
  background-color: var(--mocha);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--darkBlue);
}

/* Footer.js Styling */
.Footer-image {
  max-height: 10vh;
}

/* Header.js Styling */


/* Navigation.js Styling */
.Navigation {
  background-color: var(--mocha);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--darkBlue);
}

.Navigation div {
  margin: 0vh 10vh;
}

/* Project.js Styling */
