:root {
  --text: #090446;
  --background: #786f52;
  --softBlue: #61dafb;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-nav {
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.App-nav div {
  margin: 0vh 10vh;
}

.App-header {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.App-footer {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.footer-image {
  max-height: 10vh;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--softBlue)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
